*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings
.metadata

# Répertoire de travail de maven
target

# fichier temporaire de vim
*~

# Derby
derby.log

# Mon temporaire
tmp
